---
---

body, html {
  font-family: "Inter", sans-serif !important;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Datatype", monospace;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: "Inter", sans-serif;
}

header .title {
  font-size: 2rem;
  font-weight: 700;
}