---
---

:root {
  --profilewidth: max(150px, min(25%, 245px));
  --cardwidth: max(220px, min(25%, 280px))
}

.sticky-profile {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 105px !important;
  z-index: 2 !important;
  align-self: start; /* For flexbox containers */
  background-color: var(--background);
  width: var(--profilewidth);
  height: 480px;
  border-right: 1px solid #ddd;
}

.sticky-card {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 110px !important;
  z-index: 2 !important;
  align-self: start; /* For flexbox containers */
  background-color: var(--background);
  width: var(--cardwidth);
  height: 353px;
}

.unstuck-content-profile {
  margin-left: calc(var(--profilewidth) + 5px);
  margin-top: -500px;
}

.unstuck-content-project {
  margin-left: calc(var(--cardwidth) + 60px);
  margin-top: -400px;
}