---
---

.sticky {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 70px !important;
  z-index: 100 !important;
  align-self: start; /* For flexbox containers */
  background-color: white;
  width: 300px;
  border-right: 1px solid #ddd; /* optional, for a visual separator */
}

.unstuck_content {
  margin-top: -710px;
  margin-left: 300px; /* Adjust this based on the width of your sidebar */
}