---
---

:root {
  --sidebarwidth: max(150px, min(25%, 250px));
}

.sticky {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 85px !important;
  z-index: 1 !important;
  align-self: start; /* For flexbox containers */
  background-color: var(--background);
  width: var(--sidebarwidth);
  height: 480px;
  border-right: 1px solid #ddd;
}

.unstuck_content {
  margin-left: calc(var(--sidebarwidth)+5);
  margin-top: -500px;
}