{% if include.lookup %}
  {% assign project = site.projects 
    | where_exp: "project", "project.slug == include.lookup"
    | first
  %}
{% else %}
  {% assign project = include %}
{% endif %}

<div class="card">
  <a
    {% if page.slug != project.slug %}
      href="{{ project.url | relative_url }}"
    {% endif %}
    class="card-image"
    data-style="{{ include.style }}"
    aria-label="{{ project.title | default: "project link" }}"
  >
    <img
      src="{{ project.image | relative_url }}"
      alt="{{ project.title | default: "card image" }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>
  <div class="card-text">
    {% if project.title %}
      <a
        {% if page.slug != project.slug %}
        href="{{ project.url | relative_url }}"
        {% endif %}
        {% if project.tooltip %}
          data-tooltip="{{ project.tooltip }}"
        {% endif %}
        class="card-title"
      >
        {{ project.title }}
      </a>
    {% endif %}

    {% if project.subtitle %}
      <span class="card-subtitle">{{ project.subtitle }}</span>
    {% endif %}

    {% if project.description %}
      <p>
        {{ project.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if project.tags or project.repo %}
      {% include tags.html tags=project.tags repo=project.repo %}
    {% endif %}
  </div>
</div>
