---
layout: default
---

<!-- [IN PROGRESS] Profile side bar -->

<div class=sticky>
  {% capture stickycontent %}
    {% include portrait.html lookup=page.slug %}
    <div>
      {% for link in page.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key link=value style="bare" %}<br>
      {% endfor %}
    </div>
  {% endcapture %}
  {% include float.html content=stickycontent %}
</div>

<!-- Main -->
<div class="unstuck_content">
  {% include section.html %}
  <!-- Description -->
  {% capture maincontent %}
    {% include portrait.html lookup=page.slug %}
  {% endcapture %}
  {% include float.html content=maincontent %}
  {{ content }}
  {% if member.fun-fact %}
    <p>
      Fun fact: {{member.fun-fact}}
    </p>
  {% endif %}
  
  {% include section.html %}
  <!-- Projects -->
  <h1>Projects</h1>
  {% assign member_projects = "people: " | append: member.aliases %}
  {% include list.html data="projects" component="projectcard" filters=member_projects %}

  <!-- Search for publications -->

  {% assign aliases = page.aliases | default: page.name | default: page.title | join: "," | split: ","  | array_filter %}

  {% capture search -%}
    research/?search={% for alias in aliases %}"{{ alias }}" {% endfor %}
  {%- endcapture %}

  <p class="center">
    <a href="{{ search | relative_url }}">
      Search for {{ page.name | default: page.title }}'s papers on the Research page
    </a>
  </p>

  {% capture search -%}
    news/?search={{ page.name }}
  {%- endcapture %}

  <!--
  <p class="center">
    <a href="{{ search | relative_url }}">
      See {{ page.name | default: page.title }}'s posts on the Blog page
    </a>
  </p>
  -->
</div>
