---
layout: default
---

<!-- [IN PROGRESS] Profile side bar -->

<div class=sticky-profile>
  {% capture stickycontent %}
    {% include portrait.html lookup=page.slug slim-top=true %}
    {% for link in page.links %}
        {% assign key = link[0] %}
        {% assign value = link[1] %}
        {% include button.html type=key link=value style="bare" %}<p></p>
    {% endfor %}
  {% endcapture %}
  {% include float.html content=stickycontent sidebar=true%}
</div>

<!-- Main -->
<div class="unstuck-content-profile" style="margin-right: -5px;">
  {% include section.html slim-right=true %}
  <!-- Description -->
  {{ page.content | markdownify }}
  {% if member.fun-fact %}
    <p style="margin-bottom: 0">
      Fun fact: {{member.fun-fact}}
    </p>
  {% endif %}
  
  {% include section.html slim-right=true %}
  <!-- Projects -->
  <h1">Projects</h1>
  {% assign member_projects = "people:" | append: member.aliases | remove: "[" | remove: "]" %}
  {% include list.html data="projects" component="projectcard" filters=member_projects %}

  <!-- Search for publications -->
  <h1>Publications</h1>
  {% if member.name == "Matt Clark" %}
    <!-- Handle Matt C's full name -->
    {% assign member_pubs_filter = "authors: Matthew Clark" %}
  {% else %}
    {% assign member_pubs_filter = "authors: " | append: member.name %}
  {% endif %}

  {% include list.html data="citations" component="citation" style="rich" filters=member_pubs_filter %}

  <h1>News</h1>
  {% assign member_news_filter = "author:" | append: member.name | downcase | split: " " | join: "-" %}
  {% include list.html data="posts" component="post-excerpt" filters=member_news_filter %}

  <!-- {% assign aliases = page.aliases | default: page.name | default: page.title | join: "," | split: ","  | array_filter %} 
 
  {% capture search -%}
    research/?search="{{ page.name | default: page.title }}"
  {%- endcapture %}

  <p class="center">
    <a href="{{ search | relative_url }}">
      Search for {{ page.name | default: page.title }}'s papers on the Research page
    </a>
  </p>

  {% capture search -%}
    news/?search={{ page.name }}
  {%- endcapture %} 

  <p class="center">
    <a href="{{ search | relative_url }}">
      See {{ page.name | default: page.title }}'s posts on the Blog page
    </a>
  </p> -->
 
</div>
