---
layout: default
---


<div class="sticky-card">
  {% capture floatcontent %}
    {% include projectcard.html lookup=page.slug big=true %}
  {% endcapture %}
  {% include float.html content=floatcontent sidebar=true %}
</div>

<div class="unstuck-content-project">
  {{ content }}

  {% assign aliases = page.aliases
    | default: page.name
    | default: page.title
    | join: ","
    | split: ","
    | array_filter
  %}

  <h1>Publications</h1>

  {% assign project_pubs_filter = "tags: " | append: page.title %}
  {% include list.html data="citations" component="citation" style="rich" filters=project_pubs_filter %}
</div>

{% include section.html %}
<h1>Project Team</h1>
{% assign project_team_filter = "projects: " | append: page.title %}
{% include list.html data="members" component="portrait" filters=project_team_filter %}

<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
