---
layout: default
---

<div class="sticky-card">
  {% capture floatcontent %}
    {% include projectcard.html lookup=page.slug big=true %}
  {% endcapture %}
  {% include float.html content=floatcontent sidebar=true %}
</div>

<div class="unstuck-content-project">
  {{ content }}

  {% assign aliases = page.aliases
    | default: page.name
    | default: page.title
    | join: ","
    | split: ","
    | array_filter
  %}

  <h1>Contact</h1>
  {% assign contact="aliases: " | append: page.contact %}

  If you feel like your skills and interests are aligned with this project, please reach out to {% include list.html data="members" component="member_link" filters=contact %} to get involved!

  <h1>Publications</h1>

  {% assign project_pubs_filter = "tags: " | append: page.title %}
  {% include list.html data="citations" component="citation" style="rich" filters=project_pubs_filter %}
</div>

{% include section.html %}
<h1>Project Team</h1>
<!-- {% assign project_team_filter = "projects: " | append: page.title %} -->
<!-- {% include list.html data="members" component="portrait" filters=project_team_filter %} -->

{% assign project_team_filter = "role: pi, projects: " | append: page.title %}
{% include list.html data="members" component="portrait" filters=project_team_filter %}

{% assign project_team_filter = "role: phd, projects: " | append: page.title %}
{% include list.html data="members" component="portrait" filters=project_team_filter %}

{% assign project_team_filter = "role: ms, projects: " | append: page.title %}
{% include list.html data="members" component="portrait" filters=project_team_filter %}

{% assign project_team_filter = "role: undergrad, projects: " | append: page.title %}
{% include list.html data="members" component="portrait" filters=project_team_filter %}

{% assign project_team_filter = "role: intern, projects: " | append: page.title %}
{% include list.html data="members" component="portrait" filters=project_team_filter %}

<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->
